<template>
  <div class="about container">
      <h1 class="page-header">About</h1>
      <div class="well">
        This is a Vue JS CRUD example using a Laravel API
      </div>
  </div>
</template>

<script>
export default {
  name: 'about',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
