<template>
  <div class="add container">
      <Alert v-if="alert" v-bind:message="alert" />
      <h1 class="page-header">Add Customer</h1>

        <form v-on:submit="addCustomer">
          <div class="well">
              <h4>Story Info</h4>
              <div class="form-group">
                  <label>Plot</label>
                  <input type="text" class="form-control" placeholder="First Name" v-model="customer.plot">
              </div>
              <div class="form-group">
                  <label>Upvotes</label>
                  <input type="text" class="form-control" placeholder="Last Name" v-model="customer.upvotes">
              </div>
          </div>
          <div class="well">
              <h4>Story Author</h4>
              <div class="form-group">
                  <label>Writer</label>
                  <input type="text" class="form-control" placeholder="Email" v-model="customer.writer">
              </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</template>

<script>
import Alert from './Alert'
export default {
  name: 'add',
  data () {
    return {
      customer: {},
      alert: ''
    }
  },
  methods: {
    addCustomer(e){
      if(!this.customer.plot || !this.customer.upvotes || !this.customer.writer)
      {
        this.alert = 'Please fill in all reqired fields';
      }
      else
      {
        let newCustomer = {
          plot: this.customer.plot,
          upvotes: this.customer.upvotes,
          writer: this.customer.writer
        }
        this.$http.post('http://localhost/laravel53/public/api/stories?plot='+this.customer.plot+'&upvotes='+this.customer.upvotes+'&writer='+this.customer.writer)
          .then(function(response){
            //console.log(newCustomer);
            this.$router.push({path: '/', query:{alert:'Customer Added'} });
            });
        e.preventDefault();
      }
      e.preventDefault();
    }
  },
  components: {
    Alert
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
