<template>
  <div class="customers container">
    <Alert v-if="alert" v-bind:message="alert" />
    <h1 class="page-header">Manage Customers</h1>
    <input class="form-control" placeholder="Enter Writer" v-model="filterInput" />
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Plot</th>
          <th>Upvotes</th>
          <th>Writer</th>
          <th>View</th>
        </tr>
      </thead>
        <tbody>
          <tr v-for="customer in filterBy(customers, filterInput)">
            <td>{{customer.plot}}</td>
            <td>{{customer.upvotes}}</td>
            <td>{{customer.writer}}</td>
            <td><router-link class="btn btn-primary" v-bind:to="'/customer/'+customer.id">View</router-link>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
</template>

<script>
import Alert from './Alert'
export default {
  name: 'customers',
  data () {
    return {
      customers: [],
      alert:'',
      filterInput: ''
    }
  },
  methods: {
    fetchCustomers(){
        this.$http.get('http://localhost/laravel53/public/api/stories')
          .then(function(response){
            this.customers = response.body;
          });
      },
      filterBy(list, value){
        value = value.charAt(0).toUpperCase() + value.slice(1);
        return list.filter(function(customer){
          return customer.writer.indexOf(value) > -1;
        });
      }
  },
  created: function(){
    if(this.$route.query.alert){
      this.alert = this.$route.query.alert;
    }
    this.fetchCustomers();
  },
  updated: function(){
    this.fetchCustomers();
  },
  components: {
    Alert
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
