<template>
  <div class="details container">
    <router-link to="/">Back</router-link>
      <h1 class="page-header">{{customer.plot}}
        <span class="pull-right">
            <router-link class="btn btn-primary" v-bind:to="'/edit/'+customer.id">Edit</router-link>
            <button class="btn btn-danger" v-on:click="deleteCustomer(customer.id)">Delete</button>
        </span>
    </h1>
    <ul class="list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{customer.plot}}</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{customer.upvotes}}</li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{customer.writer}}</li>
        </ul>
  </div>
</template>

<script>
export default {
  name: 'customerdetails',
  data () {
    return {
      customer: ''
    }
  },
  methods: {
    fetchCustomer(id){
        this.$http.get('http://localhost/laravel53/public/api/stories/'+id)
          .then(function(response){
            this.customer = response.body;
          });
      },
      deleteCustomer(id){
        this.$http.delete('http://localhost/laravel53/public/api/stories/'+id)
          .then(function(response){
            this.$router.push({path: '/', query: {alert: 'Customer Deleted'}});
          });
      }
  },
  created: function(){
    this.fetchCustomer(this.$route.params.id);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
